<!--格言-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="widget-wrap" th:fragment="announcement">
        <h3 class="follow">公告</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp bg-aphorism">
                <p class="bg-danger">
                    作者原本单纯的做一个个人博客，所以很多的细节比较随意。<br>
                    目前项目已经托管在github和oschina上，准备长期去优化和维护。<br>
                    如果您有什么好的建议或者想法都可以通过邮件或者issue反馈给我，我会尽量及时的去处理。<br>
                    mail： eumji025@gmail.com<br>
                    github: https://github.com/eumji025/EumJi-blog/issues/ <br>
                    oschina: https://git.oschina.net/eumji025/zblog/issues<br>
                    <span class="aphorism-author"> -- EumJi</span>
                    <br>
                </p>


            </div>
        </div>
    </div>
</body>
</html>